.topProducts {
  padding: 40px 0;
  border-bottom: 1px solid #e9ddce;

  @media (min-width: 744px) {
    padding: 60px 0;
  }

  @media (min-width: 1440px) {
    padding: 80px 0;
  }

  .header {
    text-align: center;
    margin-bottom: 40px;

    @media (min-width: 744px) {
      margin-bottom: 50px;
    }

    @media (min-width: 1440px) {
      margin-bottom: 32px;
    }

    h2 {
      font-size: 40px;
      margin-bottom: 10px;

      @media (min-width: 744px) {
        font-size: 42px;
      }

      @media (min-width: 1440px) {
        font-size: 80px;
        margin-bottom: 24px;
      }
    }

    p {
      &:first-of-type {
        font-size: 18px;
        margin-bottom: 10px;

        @media (min-width: 744px) {
          font-size: 24px;
        }

        @media (min-width: 1440px) {
          font-size: 42px;
          margin-bottom: 24px;
        }
      }
    }
    &.text {
      font-size: 18px;

      @media (min-width: 744px) {
        font-size: 18px;
      }

      @media (min-width: 1440px) {
        font-size: 24px;
      }

      span {
        display: inline-block;
        font-size: 24px;

        @media (min-width: 744px) {
          font-size: 28px;
        }

        @media (min-width: 1440px) {
          font-size: 30px;
        }
      }
    }
  }
}

.grid {
  display: grid;
  gap: 24px;
  justify-content: center;

  @media (max-width: 743px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 744px) and (max-width: 1439px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "box      shampoo"
      "box      cta"
      "oil      conditioner";
  }

  @media (min-width: 1440px) {
    grid-template-columns: auto auto auto;
    grid-template-areas:
      "box      cta       conditioner"
      "box      shampoo   oil";
    align-items: start;
  }
}

.card {
  position: relative;
  border-radius: 8px;
  color: #f8f7f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  .bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;

    &.mobile {
      display: block;

      @media (min-width: 744px) {
        display: none;
      }
    }

    &.desktop {
      display: none;

      @media (min-width: 744px) {
        display: block;
      }
    }
  }

  .titleWrap {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: auto;
    border-radius: 8px;
    padding: 4px 0px;
    height: 72px;
    background: #000;

    h3 {
      font-family: var(--font-lato);
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0.02em;
    }
  }

  &.box {
    @media (max-width: 743px) {
      width: 335px;
      height: 452px;
    }

    @media (min-width: 744px) and (max-width: 1439px) {
      grid-area: box;
      width: 322px;
      height: 553px;
    }

    @media (min-width: 1440px) {
      grid-area: box;
      width: 526px;
      height: 744px;
    }

    .titleWrap {
      @media (min-width: 744px) and (max-width: 1439px) {
        margin-top: 240px;
      }

      @media (min-width: 1440px) {
        margin-top: 320px;
      }
    }
  }

  &:not(.box):not(.cta) {
    @media (max-width: 743px) {
      width: 335px;
      height: 452px;
    }

    @media (min-width: 744px) {
      width: 322px;
      height: 264px;
    }

    @media (min-width: 1440px) {
      width: 360px;
      height: 360px;
    }
  }
}

.footer {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-left: 50px;
  height: 56px;
  border: 1px solid rgba(255, 252, 244, 0.6);
  border-radius: 8px;
  backdrop-filter: blur(40px);
  background: var(--color-gray-100);
  font-weight: 600;
  font-size: 22px;
  line-height: 134%;
  color: rgba(255, 252, 244, 0.9);

  .cartBtn {
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    width: 80px;
    height: 52px;
    backdrop-filter: blur(40px);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1),
      0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(0, 0, 0, 0.05);
    background: var(--color-black-10);
    opacity: 0.8;

    .icon {
      width: 32px;
      height: 32px;
      transition: transform 0.3s ease;
    }

    &:hover .icon {
      transform: scale(1.2);
    }
  }

  .price {
    font-size: 18px;
    font-weight: bold;
  }
}

.cta {
  backdrop-filter: blur(40px);
  background: rgba(45, 45, 45, 0.2);
  color: #111;
  text-align: center;
  border: 1px solid var(--color-black-10);
  padding: 100px 0px;

  @media (min-width: 744px) {
    padding: 69px 0px;
  }

  @media (min-width: 1440px) {
    padding: 100px 0px;
  }

  h3 {
    font-family: var(--font-lato);
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin-bottom: 40px;

    @media (min-width: 744px) {
      font-size: 24px;
    }

    @media (min-width: 1440px) {
      font-size: 26px;
    }
  }

  .link {
    color: var(--color-black-10);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    border-bottom: 0.8px solid rgba(45, 45, 45, 0.8);
    width: fit-content;
    margin-inline: auto;
    transition: all 0.3s ease;

    &:hover {
      border-bottom: 1.8px solid #403e3e;
      box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.24);
    }
  }

  @media (max-width: 743px) {
    width: 335px;
    height: 360px;
  }

  @media (min-width: 744px) {
    grid-area: cta;
    width: 322px;
    height: 264px;
  }

  @media (min-width: 1440px) {
    grid-area: cta;
    width: 360px;
    height: 360px;
  }
}
