.productContainer {
  display: grid;
  grid-template-areas:
    "header"
    "gallery"
    "description"
    "actions";
}

.header {
  grid-area: header;
}

.gallery {
  grid-area: gallery;
}

.description {
  grid-area: description;
}

.actions {
  grid-area: actions;
}

@media (min-width: 744px) {
  .productContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "gallery description"
      "actions actions";
  }
}

@media (min-width: 1440px) {
  .productContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "gallery header"
      "gallery description"
      "gallery actions";
  }
}