.loaderWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #ffffffa1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 9999;
  animation: fadeLoop 2s ease-in-out infinite;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.logoLoader {
  width: 60px;
  height: 60px;
}
  
@keyframes fadeLoop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}