.header {
  width: 375px;
  padding: 10px 20px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  fill: red;
}

.btnBurger {
  width: 40px;
  height: 40px;
}

.iconBurger {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 744px) {
  .header {
    width: 744px;
    padding-inline: 40px;
  }

  .logo {
    width: 56px;
    height: 56px;
  }

  .wrapperNav {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .btnBurger {
    width: 32px;
    height: 32px;
  }

  .iconBurger {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    width: 1440px;
    padding-inline: 72px;
  }
  
  .logo {
    width: 64px;
    height: 64px;
  }

  .btnBurger {
    display: none;
  }
}
