.wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;

  @media (min-width: 1440px) {
    padding-bottom: 0;
    border: none;
    margin-bottom: 0;
  }
}

.text {
  font-family: var(--font-lato);
  font-weight: 600;
  font-size: 16px;
  color: var(--color-black-10);

  @media (min-width: 1440px) {
    font-size: 18px;
    margin-right: 3px;
  }
}
