.container {
  flex-direction: column;
  display: flex;
  gap: 18px;
  color: #2D2D2D;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0.28px;
  text-align: center;
  margin-bottom: 24px;
}

.title {
  text-align: center;
  margin-bottom: 14px;
  padding-top: 26px;
  color: #2D2D2D;
  font-size: 16px;
  font-family: Lato;
  font-weight: 700;
  line-height: 24px;
}

.scienceSpan {
  font-size: 16px;
  font-family: Source Sans Pro;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.16px;
}

@media screen and (min-width: 744px) {
  .container {
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
  }

  .scienceSpan {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
  }

  .title {
    padding-top: 34px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.24px;
  }

}

@media screen and (min-width: 1440px) {
  .container {
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 33px;
  }

  .scienceSpan {
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.28px;
  }

}