.accordionWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 0.9rem;
    color: #2D2D2D;

}

.accordionItem {
    color: #2D2D2D;
}



.accordionHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #2D2D2D;

    font-weight: 500;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
}

.accordionContent {
    margin-top: 16px;
    color: #2D2D2D;
    line-height: 1.5;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;

}

.arrow {
    transition: transform 0.3s ease;
    width: 12px;
    height: 24px;
}


.arrowRotated {
    transform: rotate(-180deg);
}

.active .descriptionTitle {
    text-decoration: underline;
}

.descriptionTitle {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 300;

    line-height: 24px;
    letter-spacing: 0.32px;
    word-wrap: break-word;
}

.accordionContent {
    color: #2D2D2D;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0.28px;

}

@media screen and (min-width: 1440px) {
    .descriptionTitle {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.36px;
    }

    .accordionContent {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;

    }
}