.input {
  border-bottom: 1px solid #2d2d2d;
  border-radius: 8px;
  padding: 11.5px 12px 11.5px 8px;
  width: 100%;
  font-family: var(--font-roboto);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.32;
  color: var(--color-black-10);
  display: flex;
  justify-content: center;
  align-items: center;

  &::placeholder {
    color: var(--color-black-10);
  }
}
