.input {
  width: 100%;
  padding: 17px 44px 10px;
  border: 1px solid #3e4f34;
  border-radius: 8px;
  background: var(--color-white-30);

  &::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-gray-10);
  }

  @media (min-width: 744px) {
    width: 207px;
  }
  @media (min-width: 1440px) {
    width: 306px;
  }
}

.iconSearch {
  position: absolute;
  top: 17px;
  left: 13px;
  width: 24px;
  height: 24px;
  stroke: var(--color-black-10);
  fill: transparent;

  @media (min-width: 744px) {
    left: 10px;
  }
}

.text {
  font-family: var(--font-lato);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #49454f;
  margin-bottom: 50px;

  @media (min-width: 744px) {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
  }

  @media (min-width: 1440px) {
    font-size: 24px;
    text-align: center;
  }
}
